.bobbins-navbar {
  height: 60px;
  padding: 0 0 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.path {
  cursor: pointer;
}

.path:hover {
  color: var(--chakra-colors-purple-500);
}

.bobbins-padded-view {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.calc-icon {
  width: 14px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("./assets/calc.svg");
}

.black-calc-icon {
  width: 14px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("./assets/calc-black.svg");
}
