.cs-message-composer {
  padding: 1em;
}

.row {
  min-height: 1.6em;

  .index {
    border: 1px solid black;
    border-radius: 100%;
    width: 1.6em;
  }

  .text {
    display: flex;
    direction: row;
    gap: 0.5em;
  }
}
