<html lang="en" data-theme="light" style="color-scheme: light;">

<head>
    <script type="module" src="/@vite/client"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobbins</title>
</head>

<body class="chakra-ui-light">
    <div id="app">
        <div class="outer-container">
            <div class="container">
                <div class="header band">
                    <div>
                        <h2>Thank you for purchasing {{ name }}!</h2>
                    </div>
                </div>
                <div class="content sections">
                    <div class="section">
                        <div class="section-header">
                            <h2 class="chakra-heading css-9f6g39">Printing Guidelines</h2>
                        </div>
                        <div class="section-body">
                            <div class="css-vw1wj9">
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/paper.svg"><span
                                            class="title">Use
                                            the right paper size</span></div>
                                    <div>
                                        <p>The PDF files are made to be printed on the US Letter or the A4.</p>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/scale.svg"><span
                                            class="title">Print at a 100% scale</span></div>
                                    <div>
                                        <p>Print at a 100% scale on center, or with the Actual Size option turned on. Do
                                            not select Scale to Fit Media or Fit to Printable Area.</p>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/measure.svg"><span
                                            class="title">Check the scale squares</span></div>
                                    <div>
                                        <p>Ensure the scale squares are printed to the correct sizes -- 1" and 1cm.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-header">
                            <h2 class="chakra-heading css-9f6g39">About {{ name }}</h2>
                        </div>
                        <div class="section-body">
                            <div class="css-vw1wj9">
                                <div class="grid-item">
                                    <div class="icon-and-title"><img
                                            src="/app/templates/images/scissors.svg?t=1704078449424"><span
                                            class="title">
                                        {% if numMissingSeamAllowances > 0 %}
                                            Review the seam allowances
                                        {% else %}
                                            Seam allowances included
                                        {% endif %}
                                        </span></div>
                                    <div>
                                        <p>
                                            {% if numMissingSeamAllowances > 1 %}
                                            There are {{ numMissingSeamAllowances }} pieces without the seam allowance
                                            in this
                                            project. Check before you cut!</p>
                                        {% elif numMissingSeamAllowances == 1%}
                                        There is one piece without the seam allowance in this project. Check before you
                                        cut!
                                        {% else %}
                                        Every piece in this project has the seam allowance included.
                                        {% endif %}
                                        </p>
                                    </div>
                                </div>
                                {% if containsNotches %}
                                <div class="grid-item">
                                    <div class="icon-and-title"><img
                                            src="/app/templates/images/marker.svg?t=1704076720409"><span
                                            class="title">Mark the notches</span></div>
                                    <div>
                                        <p>Marking the notches at the start makes the project go easier and faster.</p>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- <div class="grid-item spacer" /> -->
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-body">
                            <div class="css-vw1wj9">
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/needle.svg"><span
                                            class="title">Seam allowances</span></div>
                                    <div>
                                        <p>{{ seam_allowance_description }}</p>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/needle.svg"><span
                                            class="title">Top stitch</span></div>
                                    <div>
                                        <p>{{top_stitch_description}}</p>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/needle.svg"><span
                                            class="title">Baste stitch</span></div>
                                    <div>
                                        <p>{{baste_stitch_description}}</p>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div class="icon-and-title"><img src="/app/templates/images/needle.svg"><span
                                            class="title">Backstitch</span></div>
                                    <div>
                                        <p>Backstitch 2-3 times at the begininng and at the end.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-header">
                            <h2 class="chakra-heading css-9f6g39">Materials</h2>
                        </div>
                        <div class="section-body">
                            <table class="materials">
                                <tbody>
                                    {% for material in materials %}
                                    <tr>
                                        <td class="col1">{{material.name}}</td>
                                        <td>{{material.notes}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="video-link-container"><a href="{{ tutorialLink }}" target="_blank" class="youtube-hyperlink"><button type="button"
                                class="chakra-button css-ez23ye video-button"><img
                                src="/app/templates/images/youtube-logo.svg" aria-hidden="true"
                                class="youtube"><span class="youtube-button-label">Start watching</span></button></a></div>
                </div>
                <div class="chakra-stack footer band css-1igwmid">
                    <h2>Ask questions or share your projects</h2><a href="http://youtube.com/@sewingstroll"
                        target="_blank" class="contact youtube"><img
                            src="/app/templates/images/contact-youtube.svg?t=1704078167580"></a><a
                        href="http://instagram.com/sewingstroll" target="_blank" class="contact instagram"><img
                            src="/app/templates/images/contact-instagram.svg?t=1704078177730"></a><a
                        href="http://sewingstroll.com" target="_blank" class="contact instagram"><img
                            src="/app/templates/images/contact-website.svg?t=1704078174869"></a><a
                        href="mailto:khloe.sim@icloud.com" target="_blank" class="contact email"><img
                            src="/app/templates/images/contact-email.svg?t=1704078180744"></a>
                </div>
            </div>
        </div><span id="__chakra_env" hidden=""></span>
    </div>
    <script type="module" src="/src/main.tsx?t=1704154085660"></script>


    <div class="chakra-portal">
        <div role="region" aria-live="polite" aria-label="Notifications-top" id="chakra-toast-manager-top"
            style="position: fixed; z-index: var(--toast-z-index, 5500); pointer-events: none; display: flex; flex-direction: column; margin: 0px auto; top: env(safe-area-inset-top, 0px); right: env(safe-area-inset-right, 0px); left: env(safe-area-inset-left, 0px);">
        </div>
        <div role="region" aria-live="polite" aria-label="Notifications-top-left" id="chakra-toast-manager-top-left"
            style="position: fixed; z-index: var(--toast-z-index, 5500); pointer-events: none; display: flex; flex-direction: column; top: env(safe-area-inset-top, 0px); left: env(safe-area-inset-left, 0px);">
        </div>
        <div role="region" aria-live="polite" aria-label="Notifications-top-right" id="chakra-toast-manager-top-right"
            style="position: fixed; z-index: var(--toast-z-index, 5500); pointer-events: none; display: flex; flex-direction: column; top: env(safe-area-inset-top, 0px); right: env(safe-area-inset-right, 0px);">
        </div>
        <div role="region" aria-live="polite" aria-label="Notifications-bottom-left"
            id="chakra-toast-manager-bottom-left"
            style="position: fixed; z-index: var(--toast-z-index, 5500); pointer-events: none; display: flex; flex-direction: column; bottom: env(safe-area-inset-bottom, 0px); left: env(safe-area-inset-left, 0px);">
        </div>
        <div role="region" aria-live="polite" aria-label="Notifications-bottom" id="chakra-toast-manager-bottom"
            style="position: fixed; z-index: var(--toast-z-index, 5500); pointer-events: none; display: flex; flex-direction: column; margin: 0px auto; bottom: env(safe-area-inset-bottom, 0px); right: env(safe-area-inset-right, 0px); left: env(safe-area-inset-left, 0px);">
        </div>
        <div role="region" aria-live="polite" aria-label="Notifications-bottom-right"
            id="chakra-toast-manager-bottom-right"
            style="position: fixed; z-index: var(--toast-z-index, 5500); pointer-events: none; display: flex; flex-direction: column; bottom: env(safe-area-inset-bottom, 0px); right: env(safe-area-inset-right, 0px);">
        </div>
    </div>
</body>

</html>